html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
    color:grey;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

.error {
    font-family: Tahoma;
    font-size: 12px;
    color: red;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
    max-width: 960px;
    margin: 0 auto;
}

.main-content {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

header .content-wrapper {
    padding-top: 20px;
}

#banner {
    background-image: url("/Content/Images/banner.png");
    background-repeat: no-repeat;
    height: 141px;
    padding-bottom: 2px;
}



/* login
----------------------------------------------------------*/
#log {
    height: 100%;
    position: relative;
}

    #log a {
        font-weight: bold;
        font-family: Tahoma;
        font-size: 12px;
        color: #fff;
        height: 100%;
        text-decoration: none;
    }

    #log .login {
        font-weight: bold;
        font-family: Tahoma;
        font-size: 10px;
        color: #fff;
        position: absolute;
        right: 15px;
        bottom: 0px;
}

    #log .button {
        background: none;
        border: none;
        color: #fff;
        text-decoration: none;
        position:relative;
        bottom:16px;
        right:10px;
    }
    #log .button:hover {
        color: #ccdbe2;
    }
    #log .button:active {
        color: #a5cddf;
    }
    #log .remember {
        position:relative;
        left:57px;
    }

    #log #logcorrecto {
        font-weight: bold;
        font-family: Tahoma;
        font-size: 10px;
        color: #fff;
        position: absolute;
        right: 27px;
        top: 55px;
        text-align:right;
    }

    #log #logcorrecto .button {
        background: none;
        border: none;
        color: #fff;
        text-decoration: none;
        position:relative;
        right:0px;
        top:25px;
    }

    #log #logcorrecto .button:hover {
        color: #ccdbe2;
    }
    #log #logcorrecto .button:active {
        color: #a5cddf;
    }

    #log #errorLogin {
        position: absolute;
        right: 183px;
        bottom: 21px;
    }
/* footer
----------------------------------------------------------*/


footer p {
    font-family: Tahoma;
    font-size: 12px;
    margin-left: 20px;
}


footer {
    clear: both;
    font-size: .8em;
    height: 100px;
}

    footer .content-wrapper {
        clear: both;
        height: 50px;
        border-top: 2px #ccdbe2 solid;
    }
/* menu
----------------------------------------------------------*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu {
    height: 30px;
    /*border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #141414;
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#32323a', EndColorStr='#141414', GradientType=0);*/
    border-top: 2px solid #ccdbe2;
    border-bottom: 1px solid #ccdbe2;
}

    #cssmenu:after,
    #cssmenu ul:after {
        content: '';
        display: block;
        clear: both;
    }

    #cssmenu a {
        background: #fff;
        /*background: -moz-linear-gradient(top, #2687c7 0%, #2687c7 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2687c7), color-stop(50%, #2687c7));
  background: -webkit-linear-gradient(top, #2687c7 0%, #2687c7 50%);
  background: -o-linear-gradient(top, #2687c7 0%, #2687c7 50%);
  background: -ms-linear-gradient(top, #2687c7 0%, #2687c7 50%);
  background: linear-gradient(to bottom, #2687c7 0%, #2687c7 50%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#2687c7', EndColorStr='#2687c7', GradientType=0);*/
        color: #000000;
        display: inline-block;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        font-size: 12px;
        line-height: 30px;
        padding: 0 20px;
        text-decoration: none;
        font-family: Tahoma;
        font-size: 12px;
    }

    #cssmenu ul {
        list-style: none;
    }

    #cssmenu > ul {
        float: left;
    }

        #cssmenu > ul > li {
            float: left;
        }

            #cssmenu > ul > li:hover:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #174B6E;
                margin-left: -7px;
            }

            #cssmenu > ul > li:first-child a {
                border-radius: 5px 0 0 0;
                -moz-border-radius: 5px 0 0 0;
                -webkit-border-radius: 5px 0 0 0;
            }

            #cssmenu > ul > li:last-child a {
                border-radius: 0 5px 0 0;
                -moz-border-radius: 0 5px 0 0;
                -webkit-border-radius: 0 5px 0 0;
            }

            #cssmenu > ul > li.active a {
                box-shadow: inset 0 0 3px #000000;
                -moz-box-shadow: inset 0 0 3px #000000;
                -webkit-box-shadow: inset 0 0 3px #000000;
                background: #070707;
                /*background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
ckground: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
ckground: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
ckground: -o-linear-gradient(top, #26262c 0%, #070707 100%);
ckground: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
ckground: linear-gradient(to bottom, #26262c 0%, #070707 100%);
lter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);*/
            }

            #cssmenu > ul > li:hover > a {
                /*background: #449EDA;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;*/
            }

    #cssmenu .has-sub {
        z-index: 1;
    }

        #cssmenu .has-sub:hover > ul {
            display: block;
        }

        #cssmenu .has-sub ul {
            border-top: 1px solid #ccdbe2;
            display: none;
            position: absolute;
            width: 200px;
            top: 100%;
            left: 0;
        }

            #cssmenu .has-sub ul li {
                *margin-bottom: -1px;
            }

                #cssmenu .has-sub ul li a {
                    display: block;
                    background: #fff;
                    /*border-bottom: 1px dotted #206897;
    filter: none;
    font-size: 11px;
    line-height: 120%;
    padding: 10px;*/
                }

                #cssmenu .has-sub ul li:hover a {
                    background: #e2e2e2;
                }


/* page elements
----------------------------------------------------------*/


/********************
*   Mobile Styles   *
********************/
/*@media only screen and (max-width: 850px) {
    header .float-left,
    header .float-right {
        float: none;
    }


    header .site-title {
        margin: 10px;
        text-align: center;
    }


    
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}*/
/* END: Mobile Styles */
